<div id="cardix-app" >
  <h1>My Appointments</h1>
  <% if  @appointments.all == []  %>
    <h3>You don't have appointments yet !</h3>
  <% else %>
    <ul class="list-unstyled">
      <% @appointments.each do |appointment| %>
          <li class="mb-2">
          <div class="card-product">
            <%= link_to partner_path(appointment.partner) do %>
              <% if appointment.partner.photo_url.attached? %>
                <%= cl_image_tag appointment.partner.photo_url.key, height: 120, width: 120, crop: :fill %>
              <% end %>
            <% end %>
            <div class="card-product-infos">
              <%= link_to partner_path(appointment.partner) do %>
              <h2>From <%= appointment.start_time.strftime("%b %d, %Y")  %> to <%= appointment.end_time.strftime("%b %d, %Y") %> </h2>
              <p>I will spend good time with <strong><%= appointment.partner.first_name %></strong>!</p>
              <% end %>
            </div>
              <%= link_to '<i class="fa-solid fa-trash" style="margin-left: 604px; font-size: x-large;""></i>'.html_safe, appointment_path(appointment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"text-decoration-none"  %>
            </div>
          </li>
      <% end %>
    </ul>
  <% end %>

      <div id="button-app">
      <%= link_to partners_path do %>
        <button id="msg-app">Map</button>
      <% end %>
    </div>
</div>




<%= render 'shared/footer'%>
