<div class="container">
<h1 class="my-5 text-center">Rent a furendo</h1>

<%= simple_form_for [@partner, @appointment] do |f|%>
<%= f.input :schedule_date %>
<%= f.input :comment %>
<%= f.submit "Rent #{@partner.first_name}!" %>
<% end %>
<%= link_to "back to main", partners_path%>
</div>
<div style = "height:450px;"></div>
